/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b6ecf2;
  /* height: 100vh; */
}


.success-snackbar .mat-simple-snackbar-action  {
  color: white;
}

.warning-snackbar .mat-simple-snackbar-action  {
  color: black;
}

.danger-snackbar .mat-simple-snackbar-action  {
  color: black;
}
