<div
  id="main-container"
  class="container-fuid"
  style="
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
  "
>
  <h3 style="text-align: start; font-weight: bold">
    Quản Lý Danh Sách Nhân Viên
  </h3>
</div>

<div class="container-fuid ">
  <div
    class="container"
    style="
      margin-top: 20px;
      padding-top: 10px;
      height: 100%;
      background-color: white;
    "
  >
    <div class="row align-items-center" style="margin: 0px">
      <div
        class="col-12 col-lg-6 align-self-center"
        style="margin: 0px; padding: 0px"
      >
        <div class="container">
          <h3 style="margin-bottom: 0px; padding-top: 10px; font-weight: bold">
            Tìm Kiếm
          </h3>
          <mat-form-field
            appearance="outline"
            style="margin-right: 10px; width: 100%"
          >
            <mat-label>Từ Khoá</mat-label>
            <input matInput (keyup)="applyFilter($event)" />
          </mat-form-field>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 align-self-center"
        style="margin: 0px; padding: 0px"
      >
        <a
          (click)="onOpenModal(null,'add')"
          class="btn btn-success tooltips"
          data-placement="top"
          data-original-title="Add"
          style="width: 100%;margin-bottom: 5px;"
        >
          <i class="fa fa-plus-square" style="font-size: 20px"></i> Thêm Nhân Viên Mới
        </a>
      </div>
    </div>
  </div>

  <div
    class="container"
    style="width: 100%; height: 100%; padding-left: 0px; padding-right: 0px;padding-top: 20px;"
  >
    <div>
      <table mat-table matSort [dataSource]="dataSource" style="width: 100%">
        <tbody>
          <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;">#</th>
            <!-- <td mat-cell *matCellDef="let element" >{{ customerAll.indexOf(element) + 1 }}</td> -->
            <td mat-cell *matCellDef="let element" >{{ dataEmployeeAll.indexOf(element) + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 25%;" >Họ Tên</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;" >
              SĐT
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.phoneNumber}}
            </td>
          </ng-container>

          <ng-container matColumnDef="gender" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;" >
              Giới Tính
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.gender}}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateOfBirth"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;" >
              Ngày Sinh
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateOfBirth}}
            </td>
          </ng-container>

          <ng-container matColumnDef="note"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;" >Ghi Chú</th>
            <td mat-cell *matCellDef="let element">
              {{
                element.note
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef style="width: 10%;"  >Chức Năng</th>
            <td mat-cell *matCellDef="let element">
              <div class="btn-group">
                <button
                  (click)="onOpenModal(element,'edit')"
                  class="btn btn-primary tooltips"
                  data-placement="top"
                  data-original-title="edit"
                >
                  <i class="fa fa-pencil" style="font-size: 20px"></i>
                </button>
                <button
                  (click)="onOpenModal(element,'delete')"
                  class="btn btn-danger tooltips"
                  data-placement="top"
                  data-original-title="Delete"
                >
                  <i class="fa fa-trash" style="font-size: 20px"></i>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="user" >
            <th mat-header-cell *matHeaderCellDef style="width: 10%;"  >Tài Khoản</th>
            <td mat-cell *matCellDef="let element">
              <div class="btn-group">
                <button
                  *ngIf="!checkUser(element)"
                  (click)="onOpenModal(element,'edit')"
                  class="btn btn-success tooltips"
                  data-placement="top"
                  data-original-title="edit"
                >
                  <i class="fa fa-user-plus" style="font-size: 20px"></i>
                </button>
                <button
                  *ngIf="checkUser(element)"
                  (click)="onOpenModal(element,'edit')"
                  class="btn btn-info tooltips"
                  data-placement="top"
                  data-original-title="edit"
                >
                  <i class="fa fa-user" style="font-size: 20px"></i>
                </button>
                <button
                  *ngIf="checkUser(element)"
                  (click)="onOpenModal(element,'edit')"
                  class="btn btn-danger tooltips"
                  data-placement="top"
                  data-original-title="edit"
                >
                  <i class="fa fa-user-times" style="font-size: 20px"></i>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </tbody>
      </table>

      <table>
        <tr *ngIf="!dataSource.data.length">
          <td
            style="text-align: center"
            [attr.colspan]="displayedColumns.length"
          >
            Không có dữ liệu được tìm thấy!
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>


<!-- Add Table Modal -->

<!--
data-backdrop="static"
data-keyboard="false"
-->

<div
  class="modal fade"
  id="addEmployeeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addCustomerModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="margin: 0px" id="addUserModalLabel">Thêm Nhân Viên Mới</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="add-employee-form"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #addEmployeeForm="ngForm"
          (ngSubmit)="onAddEmployee(addEmployeeForm)"
          id="formAdd"
        >
          <div class="form-group">
            <label for="nameAdd">
              Họ Tên Nhân Viên <span style="color: red">*</span>
            </label>
            <input
              id="nameAdd"
              type="text"
              ngModel
              name="name"
              class="form-control"
              required
              #name="ngModel"
            />
            <div
              *ngIf="name.invalid && name.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="name.errors.required">
                Họ Tên là giá trị bắt buộc.
              </div>
              <!-- <div *ngIf="name.errors.pattern || name.errors.minlength">
                Tên sản phẩm không đúng định dạng.
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="genderAdd">
              Giới Tính
            </label>
            <input
              id="genderAdd"
              type="text"
              ngModel
              name="gender"
              class="form-control"
              #gender="ngModel"
              required
            />
            <div
              *ngIf="gender.invalid && gender.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="gender.errors.required">
                Giới tính là giá trị bắt buộc.
              </div>
              <!-- <div *ngIf="name.errors.pattern || name.errors.minlength">
                Tên sản phẩm không đúng định dạng.
              </div> -->
            </div>
          </div>

          <div class="form-group">
            <label for="phoneNumberAdd">
              Số Điện Thoại <span style="color: red">*</span>
            </label>
            <input
              id="phoneNumberAdd"
              type="text"
              ngModel
              name="phoneNumber"
              class="form-control"
              required
              #phoneNumber="ngModel"
            />
            <div
              *ngIf="phoneNumber.invalid && phoneNumber.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="phoneNumber.errors.required">
                Số Điện Thoại là giá trị bắt buộc.
              </div>
              <!-- <div *ngIf="name.errors.pattern || name.errors.minlength">
                Tên sản phẩm không đúng định dạng.
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfBirthAdd">
              Ngày Sinh
            </label>
            <input
              id="dateOfBirthAdd"
              type="text"
              ngModel
              name="dateOfBirth"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="addressAdd">
              Địa Chỉ
            </label>
            <input
              id="addressAdd"
              type="text"
              ngModel
              name="address"
              class="form-control"
              #address="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="idCardAdd">
              Căn Cước Công Dân
            </label>
            <input
              id="idCardAdd"
              type="text"
              ngModel
              name="idCard"
              class="form-control"
              #idCard="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="noteAdd">
              Ghi Chú
            </label>
            <input
              id="noteAdd"
              type="text"
              ngModel
              name="note"
              class="form-control"
              #note="ngModel"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button
          *ngIf="checkIsAddEmployee(addEmployeeForm)"
          type="button"
          class="btn btn-secondary"
          (click)="setDefaultAddEmployeeForm(addEmployeeForm)"
        >
          Huỷ
        </button> -->
        <button
          [disabled]="addEmployeeForm.invalid"
          type="submit"
          class="btn btn-primary"
          form="formAdd"
        >
          Thêm Mới
        </button>
      </div>
    </div>
  </div>
</div>



<!-- pattern="^(\S+)((\s{0,1}\S+){0,})$" -->
<!-- Edit Modal -->
<div
  class="modal fade"
  id="updateEmployeeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="employeeEditModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="margin: 0px">
          Cập nhật thông tin nhân viên
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="edit-employee-form"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #editEmployeeForm="ngForm"
          (ngSubmit)="onUpdateEmployee(editEmployeeForm)"
          id="formEditEmployee"
        >
          <input
            type="text"
            ngModel="{{ editEmployee?.id }}"
            name="id"
            [hidden]="true"
          >
          <div class="form-group">
            <label for="nameEdit">
              Họ Tên Nhân Viên <span style="color: red">*</span>
            </label>
            <input
              id="nameEdit"
              type="text"
              ngModel="{{ editEmployee?.name }}"
              name="name"
              class="form-control"
              autocomplete="off"
              required
              #nameEdit="ngModel"
            />
            <div
              *ngIf="nameEdit.invalid && nameEdit.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="nameEdit.errors.required">
                Họ Tên là giá trị bắt buộc.
              </div>
              <!-- <div *ngIf="nameEdit.errors.pattern || nameEdit.errors.minlength">
                Tên Bàn không đúng định dạng.
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="genderEdit">
              Giới Tính
            </label>
            <input
              id="genderEdit"
              type="text"
              ngModel="{{ editEmployee?.gender }}"
              name="gender"
              class="form-control"
              #genderEdit="ngModel"
              required
            />
            <div
              *ngIf="genderEdit.invalid && genderEdit.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="genderEdit.errors.required">
                Giới tính là giá trị bắt buộc.
              </div>
              <!-- <div *ngIf="name.errors.pattern || name.errors.minlength">
                Tên sản phẩm không đúng định dạng.
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="phoneNumberEdit">
              Số Điện Thoại <span style="color: red">*</span>
            </label>
            <input
              id="phoneNumberEdit"
              type="text"
              ngModel="{{ editEmployee?.phoneNumber }}"
              name="phoneNumber"
              class="form-control"
              required
              #phoneNumberEdit="ngModel"
            />
            <div
              *ngIf="phoneNumberEdit.invalid && phoneNumberEdit.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="phoneNumberEdit.errors.required">
                Số Điện Thoại là giá trị bắt buộc.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfBirthEdit">
              Ngày Sinh
            </label>
            <input
              id="dateOfBirthEdit"
              type="text"
              ngModel="{{ editEmployee?.dateOfBirth }}"
              name="dateOfBirth"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="addressEdit">
              Địa Chỉ
            </label>
            <input
              id="addressEdit"
              type="text"
              ngModel="{{ editEmployee?.address }}"
              name="address"
              class="form-control"
              #address="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="idCardEdit">
              Căn Cước Công Dân
            </label>
            <input
              id="idCardEdit"
              type="text"
              ngModel="{{editEmployee?.idCard}}"
              name="idCard"
              class="form-control"
              #idCard="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="noteEdit">
              Ghi Chú
            </label>
            <input
              id="noteEdit"
              type="text"
              ngModel="{{ editEmployee?.note }}"
              name="note"
              class="form-control"
              #note="ngModel"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button
          *ngIf="checkIsUpdateEmployee(editEmployeeForm)"
          type="button"
          (click)="setDefaultEditEmployeeForm(editEmployeeForm)"
          class="btn btn-secondary"
        >
          Huỷ || !checkIsUpdateEmployee(editEmployeeForm)
        </button> -->
        <button
          [disabled]="editEmployeeForm.invalid"
          type="submit"
          class="btn btn-primary"
          form="formEditEmployee"
        >
          Cập nhật
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteEmployeeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="margin: 0px" id="deleteModelLabel">Xoá Thông Tin Nhân Viên</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xoá nhân viên {{ deleteEmployee?.name }}?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          id="delete-product-form"
        >
          Không
        </button>
        <button
          (click)="onDeleteEmployee(deleteEmployee)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Có
        </button>
      </div>
    </div>
  </div>
</div>

<!-- pattern="^(\S+)((\s{0,1}\S+){0,})$" -->
<!-- Edit Modal -->
<!-- <div
  class="modal fade"
  id="editUserModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="margin: 0px">
          Thông Tin Tài Khoản
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="edit-user-form"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #editUserForm="ngForm"
          (ngSubmit)="onEditUser(editUserForm)"
          id="formEditUser"
        >
          <input
            type="text"
            ngModel="{{userLogin?.id}}"
            [hidden]="true"
            name="id"
          >
          <div class="form-group">
            <label for="username">
              Tài Khoản <span style="color: red">*</span>
            </label>
            <input
              id="username"
              type="text"
              ngModel="{{ userLogin?.username }}"
              name="username"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="passwoedOld">
              Mật Khẩu Mới <span style="color: red">*</span>
            </label>
            <div class="input-group" style="padding: 0px" >
              <input
                type="{{ getTypePass() }}"
                ngModel
                name="passwordOld"
                id="passwoedOld"
                class="form-control"
                required
                pattern="(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'>,./?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{8,}"
                #passwordOld="ngModel"
              />
              <div class="input-group-append">
                <button
                  (click)="setIsHiddenPass()"
                  class="btn btn-secondary"
                  type="button"
                  id="button-hiden-old"
                >
                  <i class="fa fa-eye-slash" style="font-size: 20px"></i>
                </button>
              </div>
            </div>
            <div
              *ngIf="passwordOld.invalid && passwordOld.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="passwordOld.errors.required">
                Dữ liệu là giá trị bắt buộc.
              </div>
              <div *ngIf="passwordOld.errors.pattern || passwordOld.errors.maxlength" >
                Mật Khẩu bao gồm cả chữ hoa, chữ thường, số, ký tự đặc biệt và ít nhất 8 ký tự.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="passwoedNew">
              Nhập Lại Mật Khẩu <span style="color: red">*</span>
            </label>
            <div class="input-group" style="padding: 0px" >
              <input
                type="{{ getTypePass() }}"
                ngModel
                name="passwordNew"
                id="passwoedNew"
                class="form-control"
                required
                pattern="(?=(.*[0-9]))(?=.*[\!@#$%^&*()\\[\]{}\-_+=~`|:;'>,./?])(?=.*[a-z])(?=(.*[A-Z]))(?=(.*)).{8,}"
                #passwordNew="ngModel"
              />
              <div class="input-group-append">
                <button
                  (click)="setIsHiddenPass()"
                  class="btn btn-secondary"
                  type="button"
                  id="button-hiden-new"
                >
                  <i class="fa fa-eye-slash" style="font-size: 20px"></i>
                </button>
              </div>
            </div>
            <div
              *ngIf="passwordNew.invalid && passwordNew.touched"
              class="alert alert-danger"
              role="alertName"
            >
              <div *ngIf="passwordNew.errors.required">
                Dữ liệu là giá trị bắt buộc.
              </div>
              <div *ngIf="passwordNew.errors.pattern || passwordNew.errors.maxlength" >
                Mật Khẩu bao gồm cả chữ hoa, chữ thường, số, ký tự đặc biệt và ít nhất 8 ký tự.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
        >
          Huỷ
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          form="formChangePassword"
          [disabled]="changePasswordForm.invalid"
        >
          Đổi Mật Khẩu
        </button>
      </div>
    </div>
  </div>
</div> -->
