<div id="main-container">
  <div
    class="container-fuid row"
    style="
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 20px;
    "
  >

    <div class="col-6" style="padding-left: 0px;" >
      <h3 style="text-align: start; font-weight: bold;margin-bottom: 0px;">
        Trang Chủ
      </h3>
    </div>
    <div class="col-6" >
      <h3 style="text-align: end; font-weight: bold;margin-bottom: 0px;">
        {{dateTimeNowString}}
      </h3>
    </div>
  </div>

<div class="container" style="margin-top: 20px;padding: 0px;" >
  <div class="row" style="margin: 0px;" >
    <div class="row col-12 col-lg-6" style="margin: 0px;padding: 0px;"  >
      <div class="col-12 col-lg-6" style="width: 100%;height: 80px;text-align: justify; " >
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar >
              <i class="fa fa-edit" style="font-size:36px"></i>
            </div>
            <mat-card-title>6</mat-card-title>
            <mat-card-subtitle style="font-weight: bold;font-size: 16px;" >
              Tổng Đơn Hàng
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-12 col-lg-6" style="width: 100%;height: 80px;text-align: justify;" >
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar >
              <i class="fa fa-cart-arrow-down" style="font-size:36px"></i>
            </div>
            <mat-card-title>{{1713000 | currency : "VND" : "symbol" }}</mat-card-title>
            <mat-card-subtitle style="font-weight: bold;font-size: 16px;" >
              Doanh Thu
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="row col-12 col-lg-6" style="margin: 0px;padding: 0px;"  >
      <div class="col-12 col-lg-6" style="width: 100%;height: 80px;text-align: justify;" >
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar >
              <i class="fa fa-money" style="font-size:36px"></i>
            </div>
            <mat-card-title>{{tongTotalInvoice | currency : "VND" : "symbol" }}</mat-card-title>
            <mat-card-subtitle style="font-weight: bold;font-size: 16px;"  >
              Tổng Tạm Tính
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-12 col-lg-6" style="width: 100%;height: 80px;text-align: justify;" >
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar >
              <i class="fa fa-crosshairs" style="font-size:36px"></i>
            </div>
            <mat-card-title>{{lengthTableNotEmpty}} / {{lengthTableAll}}</mat-card-title>
            <mat-card-subtitle style="font-weight: bold;font-size: 16px;"  >
              Bàn Sử Dụng
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 20px;background-color: white;padding: 20px;" >
  <div class="container row" style="width: 100%;height: 400px;margin: 0px;" >

    <div class="col-12" style="width: 100%;height: 50px;" >
      <select class="custom-select custom-select-sm"
        style="width: 200px;"
      >
        <option selected value="0">25/05/2024</option>
        <option value="0" >24/05/2024</option>
        <option value="0" >23/05/2024</option>
        <option value="0" >22/05/2024</option>
        <option value="0" >21/05/2024</option>
      </select>
    </div>
    <div class="col-12 row " style="margin: 0px;width: 100%;" >
      <div class="col-7" >

        <h2>Thống kê doanh thu</h2>
      </div>
      <div class="col-5" >

        <h2>Thống kê sản phẩm bán chạy nhất</h2>
      </div>
    </div>
    <div class="col-md-7" style="width: 100%;height: 400px;" >
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
          <thead class="thead-light">
            <tr style="width: 100%; text-align: center">
              <th scope="col" style="width: 10%">#</th>
              <th scope="col" style="width: 30%">Hoá Đơn Hoàn Thành</th>
              <th scope="col" style="width: 30%">Tổng Hoá Đơn</th>
              <th scope="col" style="width: 30%">Khách Hàng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataInvoice">
              <td class="align-middle" style="text-align: center;" >
                {{ item.a }}
              </td>
              <td class="align-middle" style="text-align: center">
                {{ item?.b }}
              </td>
              <td class="align-middle" style="text-align: right">
                {{ item?.c | currency : "VND" : "symbol" }}
              </td>
              <td class="align-middle" style="text-align: right">
                {{item?.d}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5" style="width: 100%;height: 300px;overflow-y: auto;overflow-x: hidden;padding: 0px;" >
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
          <thead class="thead-light">
            <tr style="width: 100%; text-align: center">
              <th scope="col" style="width: 10%">#</th>
              <th scope="col" style="width: 60%">Thực Đơn</th>
              <th scope="col" style="width: 30%">Tổng Số lượng bán</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataMenu">
              <td class="align-middle" style="text-align: center;" >
                {{ item.a }}
              </td>
              <td class="align-middle" style="text-align: left">
                {{ item?.b }}
              </td>
              <td class="align-middle" style="text-align: right">
                {{ item?.c }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
