<div class="container-fluid" style="padding: 0px">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">
      <span
        class="navbar-brand mb-0 h1"
        style="
          font-size: 36px;
          font-weight: bold;
          color: black;
          font-family: 'Dancing Script';
        "
      >
        Đèn Dầu
      </span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link" id="home" (click)="goToRouterManageHome()">
            Trang Chủ <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
            id="restaurant"
          >
            Nhà Hàng
          </a>
          <div class="dropdown-menu">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="goToRouterManageRestaurantCashier()"
            >
              Màn Hình Thu Ngân
            </a>
            <a class="dropdown-item" href="#">Màn Hình Bếp</a>
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="goToRouterManageRestaurantTable()"
              >Danh Sách Bàn</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
            id="product"
          >
            Hàng Hoá
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Nhập Hàng</a>
            <a class="dropdown-item" href="#">Kiểm Kê</a>
            <a class="dropdown-item"
            (click)="goToRouterManageProductMenu()">Danh Sách Thực Đơn</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thu & Chi</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Nhân Viên
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Thông Tin Nhân Viên</a>
            <a class="dropdown-item" href="#">Chấm Công</a>
            <a class="dropdown-item" href="#">Bảng Lương Nhân Viên</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Đối Tác
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Khách Hàng</a>
            <a class="dropdown-item" href="#">Nhà Cung Cấp</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link">Báo Cáo</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Xin Chào, {{ employeeLogin?.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Thông Tin Tài Khoản</a>
            <a class="dropdown-item" (click)="goToRouterLogin()">
              Đăng xuất ({{ userLogin?.employee.name }})
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
